<div
  class="h-48 md:h-36 w-full bg-white hover:bg-slate-100 transition duration-300 ease-in-out cursor-pointer rounded-3xl mb-4 p-4 flex"
  *ngIf="!skeleton; else skeletonCard"
>
  <div
    [style.background]="bgFlag"
    class="block rounded-3xl w-16 h-16 border-1 border-gray-400 !bg-cover !bg-center"
  ></div>
  <div class="flex flex-col grow justify-between">
    <div class="flex items-center">
      <div class="ml-2 flex flex-col items-center grow">
        <span
          class="text-2xl text-indigo-800 font-bold text-center w-96 truncate"
        >
          {{ country }}
        </span>
        <span
          class="text-base text-indigo-400 font-bold text-center w-96 truncate"
        >
          {{ joinCapitals || "Sin capital" }}
        </span>
      </div>
      <i class="fa-solid fa-chevron-right text-3xl text-slate-400"></i>
    </div>

    <div class="flex flex-col md:flex-row justify-between px-4">
      <span class="text-sm text-slate-600"> Region: {{ region }} </span>
      <span class="text-sm text-slate-600 truncate w-48 md:w-80">
        <i class="fa-solid fa-language"></i> {{ joinlanguages }}
      </span>
    </div>
    <div class="flex justify-between px-4">
      <span class="text-sm text-slate-600">
        <i class="fa-solid fa-coins text-yellow-600"></i>
        {{ joinCurrencies || "Sin simbolo" }}
      </span>
      <span class="text-sm text-end text-indigo-700 font-bold">
        <i class="fa-solid fa-people-group"></i> {{ population }}
      </span>
    </div>
  </div>
</div>

<ng-template #skeletonCard>
  <div
    class="h-48 md:h-36 w-full bg-white hover:bg-slate-100 rounded-3xl mb-4 p-4 flex"
    *ngIf="skeleton"
  >
    <div class="block rounded-3xl w-16 h-16 animate-pulse bg-gray-400"></div>
    <div class="flex flex-col grow justify-between">
      <div class="flex items-center">
        <div class="ml-2 flex flex-col items-center grow">
          <span class="h-7 w-64 animate-pulse bg-gray-400 rounded-lg"> </span>
          <span class="h-6 w-48 animate-pulse bg-gray-400 rounded-lg mt-2">
          </span>
        </div>
      </div>

      <div class="flex flex-col md:flex-row justify-between px-4">
        <span class="h-4 w-32 animate-pulse bg-gray-400 rounded-lg"></span>
        <span class="h-4 w-56 animate-pulse bg-gray-400 rounded-lg"> </span>
      </div>
      <div class="flex justify-between px-4">
        <span class="h-4 w-28 animate-pulse bg-gray-400 rounded-lg"></span>
        <span class="h-4 w-14 animate-pulse bg-gray-400 rounded-lg"></span>
      </div>
    </div>
  </div>
</ng-template>
